<?xml version="1.0" encoding="utf-8"?>

<!-- App manifest. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.penzart.associativity"
    android:installLocation="preferExternal">

    <!-- Permissions.  The app currently only writes and reads in the app's specific directories
    therefore the following permissions are actually not required. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Application. -->
    <application
        android:name=".AssociativityApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AssociationsAppTheme">

        <!-- Sample AdMob App ID copied from
        http://developers.google.com/admob/android/quick-start. -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <!-- Initial activity ([LauncherActivity]). -->
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Game activity ([MainActivity]). -->
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".LauncherActivity" />
    </application>
</manifest>
